.game-board {
  height: 85vh;
  width: 100%;
  position: relative;
}

.score-board {
  position: absolute;
  top: 65%;
  left: 20px;
  width: 150px;
  height: 220px;
  background-color: #ffcc0045;
  border: 1px solid #999;
  padding: 10px;
}

.restart-button:hover {
  background-color: #fff!important;
  color: black!important;
}

.punctuation {
  background-color: #e3f2fd; 
  width: 100px;
}
