<div class="container">
  <div class="text-center d-flex align-items-center bg-dark h-100">
    <div class="row d-flex align-items-center justify-content-center">
      <img src="../../../assets/logoupm2.png" alt="Logo UPM" class="w-50 col img-fluid">
      <div class="col-md-6 p-3 text-white">
        <h2 class="mb-3">Máster en Ingeniería Web</h2>
        <h4 class="mb-2">Front-End para Navegadores Web</h4>
        <p>Practical exercise - UFO Battle</p>
      </div>
    </div>
  </div>
  <div class="text-center bg-dark h-100">
    <div class="row d-flex justify-content-center">
      <h1 class="text-white">UFO Battle Game</h1>
      <img src="../../../assets/game.jpeg" alt="Game image" class="game-img">
    </div>
  </div>
</div>
