<div class="container-fluid d-flex align-items-center justify-content-center h-100">
  <div id="loginDiv" class="col-md-12 d-flex flex-column align-items-center h-100">
    <h2>Login</h2>
    <form id="loginForm" class="col-md-4 border border-primary rounded d-flex flex-column align-items-center">
      <div class="col-md-8 mt-3">
        <div class="row d-flex justify-content-center">
          <label for="username" class="col-form-label justify-content-center col-md-4 text-end">Username:</label>
          <div id="usernameDiv" class="col-md-8">
            <input type="text" class="form-control" id="username" placeholder="Username">
          </div>
        </div>
      </div>
      <div class="col-md-8 mt-3">
        <div class="row d-flex justify-content-center">
          <label for="password" class="col-form-label justify-content-center col-md-4 text-end">Password:</label>
          <div id="passwordDiv" class="col-md-8">
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <div class="col-md-6">
          <button id="loginBtn" type="submit" class="btn btn-primary">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>