<!--Navigation bar-->
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom px-5" style="background-color: #e3f2fd;">
  <div class="col-md-3 mb-2 mb-md-0">
    <img src="../../../assets/logoupm.png" class="w-25" alt="Logo UPM"/>
    <a routerLink="/" routerLinkActive="active" class="d-inline-flex link-body-emphasis text-decoration-none fs-4">UFO Game</a>
  </div>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a routerLink="home" routerLinkActive="active" class="nav-link px-2 link-secondary">Home</a></li>
    <li><a routerLink="preferences" routerLinkActive="active" class="nav-link px-2">Preferences</a></li>
    <li><a routerLink="play" routerLinkActive="active" class="nav-link px-2">Play</a></li>
    <li><a routerLink="records" routerLinkActive="active" class="nav-link px-2">Records</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <a routerLink="login" routerLinkActive="active" class="link-secondary"><button id="loginBtn" type="button" class="btn btn-outline-primary me-2">Login</button></a>
    <a routerLink="signup" routerLinkActive="active" class="link-secondary"><button id="signupBtn" type="button" class="btn btn-primary" [disabled]="signupAvailable">Sign-up</button></a>
  </div>
</header>